<div class="container my-5">
    <div class="row  row-cols-md-3 row-cols-sm-2 row-cols-2 g-3 g-md-5">
        <div class="col" *ngFor = "let food of foodArray">
            <div class="card">
                <div class="card-body text-center">
                    <img [src]="food?.photo" alt = "photo" height="220px"  class="card-img-top">
                    <div class="card-title  fw-bold my-2">{{food?.fooditemname}}</div>
                    <div class="card-text  fw-bold my-2">{{food?.restname}}</div>
                    <div class="card-text  fw-bold my-2">{{food?.Price}}</div>
                    <button class="btn btn-info m-2" (click)="specifications(food?.RestaurentID)">Restaurent Specifications</button>
                    <button class="btn btn-warning m-2" (click)="addtocart(food)">Add to Cart</button>
                </div>
              </div>
        </div>
    </div>
</div>
