<div class="Instructions text-center py-5 ">
<p class="text-center text-white">Here are some additional measures which our kitchen teams are rigorously following!</p>
<div class="row py-3">
<div class="col-6 text-center">
<img src="https://assets.faasos.io/faasos_v2/mask1.svg"alt="eatsure_mask"class="Eatsure__IconFeture-c5fhoi-12 cdURnS">
<p class="text-white">Using masks all the time.</p>
</div>
 
<div class="col-6 text-center">
<img src="https://assets.faasos.io/faasos_v2/staff2.svg"alt="eatsure_healthy_staff"class="Eatsure__IconFeture-c5fhoi-12 cdURnS">
<p class="text-white">Maintaining a log of kitchen staff’s body temperature.</p>
</div>
 
<div class="col-6 text-center">
<img src="https://assets.faasos.io/faasos_v2/safety3.svg"alt="eatsure_safety"class="Eatsure__IconFeture-c5fhoi-12 cdURnS">
<p class="text-white">Using handwash frequently to clean hands.</p>
</div>
 
<div class="col-6 text-center">
<img src="https://assets.faasos.io/faasos_v2/kitchenSurface4.svg"alt="eatsure_kitchen_surface_clean"class="Eatsure__IconFeture-c5fhoi-12 cdURnS">
<p class="text-white">Sanitising all the kitchen surfaces, every 4 hours.</p>
</div>
</div>
</div>
 

